name: Build plugin

on: push

env:
  PLUGIN_NAME: logseq-echarts

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install
        run: |
          npm install -g pnpm
          pnpm install --no-frozen-lockfile
      - name: Lint
        run: pnpm run lint
      - name: Test
        run: pnpm run test
      - name: Build
        id: build
        run: |
          pnpm run build
